<header>
<nav id="nav" class="nav1">
			<div class="container-nav">
				<div class="enlaces" id="enlaces">
					<button type="button" class="btn btn-success" (click)="volver()">Inicio</button>
					<button type="button" class="btn btn-success" (click)="consultar()">Consultar</button>
				</div>
				<div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
			</div>				
		</nav>
</header>

<div class="container col-lg-3">

		<div class="text-center">
			<p><strong>Datos de Rendimiento Físico</strong></p>
		</div>
        <div class="form-group">
            <label>Rebotes</label>
            <input class="form-control" type="text" name="rebotes" >
        </div>
        <div class="form-group">
            <label>Asistencias</label>
            <input class="form-control" type="text" name="asistencias"  >
        </div>
		<div class="form-group">
            <label>Pases</label>
            <input class="form-control" type="text" name="Pases" >
        </div>
        <div class="form-group">
            <label>Robos</label>
            <input class="form-control" type="text" name="corigen"  >
        </div>
		<div class="form-group">
            <label>Paradas</label>
            <input class="form-control" type="text" name="clave" >
        </div>
        <div class="form-group">
            <label>Tiros Libre Anotados</label>
            <input class="form-control" type="text" name="libresanotados"  >
        </div>
		<div class="form-group">
            <label>Tiros de Campo Anotados</label>
            <input class="form-control" type="text" name="tiroscamposanotados" >
        </div>
        <div class="form-group">
            <label>Puntos Triples</label>
            <input class="form-control" type="text" name="puntostriples"  >
        </div>
		<div class="form-group">
            <label>Puntos por Partido</label>
            <input class="form-control" type="text" name="puntospartido"  >
        </div>
    
        <button type="button" class="btn btn-success" (click)="volver()">Volver</button>
</div>
