<header>
<nav id="nav" class="nav1">
			<div class="container-nav">
				<div class="enlaces" id="enlaces">
					<button type="button" class="btn btn-success" (click)="volver()">Inicio</button>
					<button type="button" class="btn btn-success" (click)="consultar()">Consultar</button>
				</div>
				<div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
			</div>				
		</nav>
</header>

<div class="container col-lg-3">
        <div class="form-group text-center">
            
            <p><strong>Registro de Hojas de Vida</strong>
            </p>
			
			<button type="button" class="btn btn-success" (click)="datosF()">Datos físicos</button>
			<button type="button" class="btn btn-success" (click)="datosR()">Datos rendimiento</button>
		
        </div>

</div>
