<header>
<nav id="nav" class="nav1">
			<div class="container-nav">
				<div class="enlaces" id="enlaces">
					<button type="button" class="btn btn-success" (click)="volver()">Inicio</button>
					<button type="button" class="btn btn-success" (click)="consultar()">Consultar</button>
				</div>
				<div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
			</div>				
		</nav>
</header>

<div class="container col-lg-3">
	<div class="tex-center">
		<p>Página para consultar hojas de vida</p>
	</div>
</div>