<body>
<header>
<nav id="nav" class="nav1">
			<div class="container-nav">
				<div class="enlaces" id="enlaces">
					<button type="button" class="btn btn-success" (click)="volver()">Inicio</button>
					<button type="button" class="btn btn-success" (click)="consultar()">Consultar</button>
				</div>
				<div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
			</div>				
		</nav>
</header>

<div class="container col-lg-3">
	
</div>

<p-table [value]="jugadores">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th>Número de Identificación</th>
			
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
        <tr>
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.correo}}</td>
			<td>{{dato.direccion}}</td>
			<td>{{dato.telefono}}</td>
			<td>{{dato.id}}</td>
        </tr>
    </ng-template>
</p-table>

<footer>
        <div class="footer contenedor">
            <div class="marca-logo">
                <img src="" alt="">
            </div>
            <div class="iconos">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-github"></i>
            </div>
            <p>La pasión e innovación es lo que nos distingue del resto</p>
        </div>
    </footer>

</body>
